In [ ]:
#to print the list the value less than 5
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b=[]
for i in a:
    if i <5:
        b.append(i)
print(b)
print([i for i in a if i < 10]) #list comprension

In [ ]:
import numpy as np
x = np.random.randint(2,100,20)
print(x)
print([i for i in x if i <10])
print([i for i in x if i % 2 == 0])

In [ ]:
import numpy as np

j = np.random.randint(0,100,50)
k = np.random.randint(0,100,20)
print(j)
print(k)

In [ ]:
num = int(input("enter a number"))

a = np.arange(1,100)
i=1
#print(a)
while i < num:
    for i in a:
        if num%i == 0:
            print("the number{} is divisable by {} ".format(num,i))

In [4]:
#list of squares without list comprehnsion

sqr=[]
for i in range(11):
    sqr.append(i**2)
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
#list of squares with list comprehnsion

sqr=[i**2 for i in range(10)]
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# double the values in the list

lst = [10,20,30,40,50]

dub=[i*2 for i in lst]
print(dub)

[20, 40, 60, 80, 100]

In [12]:
import numpy as np

lst = np.random.randint(-20,20,15)
print(lst)
pnum = [i for i in lst if i >0]
print("the positive numbers in the list:\n",pnum)

[  6  11   2 -13  -6 -11   9  16  18  -9 -12 -19 -20   9  -9]
the positive numbers in the list:
 [6, 11, 2, 9, 16, 18, 9]

In [21]:
#create a list of tuples like (number, square_of_number)
import numpy as np
lst = np.random.randint(0,20,10)
print(lst)
sqr = [(i, i**2) for i in lst]
print(sqr)

[14 18 14  3 18  2 14  6  6 16]
[(14, 196), (18, 324), (14, 196), (3, 9), (18, 324), (2, 4), (14, 196), (6, 36), (6, 36), (16, 256)]

In [40]:
#nested list comprehnsion

#1 without list comprehnsion
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]
#transpose of matrix
trans = []
for i in range(4):
    lst=[]
    for row in matrix:
        lst.append(row[i])
    trans.append(lst)
print(trans)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [49]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]
trans=[[row[i] for row in matrix] for i in range(4)]
print(trans)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [51]:
List = [1,2,3,4,5] 
  
# Removing element from the  
# Set using the pop() method 
List.pop() 
print("\nList after popping an element: ") 
print(List) 
  
# Removing element at a  
# specific location from the  
# Set using the pop() method 
List.pop(2) 
print("\nList after popping a specific element: ") 
print(List)

List after popping an element:
[1, 2, 3, 4]

List after popping a specific element:
[1, 2, 4]

In [66]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [69]:
a = (1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [70]:
c = (1, 'raju', 28, 'abc')
print(type(c))

<class 'tuple'>

In [72]:
name =('keerthy',)
print(type(name))

<class 'tuple'>

In [73]:
#parenthesis is optional
t = "keerthy", 
print(type(t))

print(t)

<class 'tuple'>
('keerthy',)

In [75]:
t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')

print(t[1])
print(t[-1])

murali
brahma

In [79]:
#nested tuple
t = ('ABC', ('satish', 'naveen', 'srinu'))

print(t[1])
print(t[1][2])

('satish', 'naveen', 'srinu')
srinu

In [81]:
a = (1,2,3)
b = (4,5,6)
print(a+b)
print(a)

print(b)

(1, 2, 3, 4, 5, 6)
(1, 2, 3)
(4, 5, 6)

In [85]:
tup =(4,5,8,9,10)
#we want add the element 15 at 3 index so we can do it by creating new tuple using concatenation concept.
new_tup = tup[:3]+(15,)+tup[3:]
print(new_tup)
print(type(new_tup))

(4, 5, 8, 15, 9, 10)
<class 'tuple'>

In [88]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)
print(t)
#delete entire tuple
del t
print(t)

(1, 2, 3, 4, 5, 6)

NameError: name 't' is not defined

In [89]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

In [90]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1

2

In [91]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

True

In [92]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [95]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))
print(min(t))
#get sum of elments in the tuple
print(sum(t))

9
1
23